@{
    ViewData["Title"] = "Broadcast";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
	<p>ASP.NET Core sample</p>
	<ul>
		<li><a class="text-dark" asp-area="" asp-controller="Home" asp-action="CreateLongTaskInvalidInvocation">Create long task invalid invocation</a></li>
		<li><a class="text-dark" asp-area="" asp-controller="Home" asp-action="CreateLongTask">Create long task</a></li>
		<li><a class="text-dark" asp-area="" asp-controller="Home" asp-action="CreateFailingTask">Create failing task</a></li>
		<li><a class="text-dark" asp-area="" asp-controller="Home" asp-action="MultipleTask">Multiple tasks</a></li>

		<li><a class="text-dark" asp-area="" asp-controller="Home" asp-action="ScheduleTask">Schedule tasks in 15 seconds</a></li>

		<li><a class="text-dark" asp-area="" asp-controller="Home" asp-action="RcurringTask">Add a recurring Tasks in 15 seconds</a></li>
		<li></li>
		<li><a class="text-dark" asp-area="" asp-controller="Home" asp-action="DeleteTask">Create and automatically delete a Task</a></li>
	</ul>
</div>
