packages
bin
obj
release
TestResults
*.user
*.jtconfig
*.suo
*.snk
_ReSharper.*
.JustCode
.JustCode/PersistanceMap.solution-user.settings.xml
.JustCode/PersistanceMap.solution-user.settings.xml
.vs
.idea