sudo: false
language: csharp
solution: Broadcast.sln
mono: none
#dist: xenial
dotnet: 3.1.414

notifications:
  email:
#    recipients:
#      - one@example.com
#      - other@example.com
    on_success: never #[always|never|change] # default: change
    on_failure: always #[always|never|change] # default: always
    
install:
  - dotnet restore

script:
  - dotnet build --configuration NetCore
#  - dotnet test
#  - dotnet test Tests/DataImporter.Tests/DataImporter.Tests.csproj

addons:
  sonarcloud:
    organization: "wickedflame"
#    token:
#      secure: "1c6083739fea417a23988ce5463194e79265f465" # encrypted value of your token

script:
  # the following command line builds the project, runs the tests with coverage and then execute the SonarCloud analysis
  - sonar-scanner