body {
  height: 100vh;
  margin: 0; }

body * {
  box-sizing: border-box; }

main {
  height: 100%; }

/*div{
	height: inherit;
}*/
.broadcast-dashboard {
  display: grid;
  /*grid-template-columns: 1fr 5fr;*/
  height: 100%;
  font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; }
  .broadcast-dashboard .broadcast-header {
    height: 50px; }
  .broadcast-dashboard .broadcast-main-container {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%; }
    .broadcast-dashboard .broadcast-main-container .broadcast-main-header {
      border-bottom: 1px solid #bbb;
      padding: 10px 15%;
      font-size: 18px;
      font-weight: 500;
      color: #777; }
    .broadcast-dashboard .broadcast-main-container .broadcast-main {
      height: 100%;
      padding: 20px 15%; }
      .broadcast-dashboard .broadcast-main-container .broadcast-main .broadcast-section {
        padding-bottom: 30px; }
        .broadcast-dashboard .broadcast-main-container .broadcast-main .broadcast-section .broadcast-info {
          border-left: solid 3px #bbb;
          font-size: 14px;
          padding-left: 20px; }
        .broadcast-dashboard .broadcast-main-container .broadcast-main .broadcast-section .broadcast-section-header {
          display: grid;
          grid-template-columns: auto 1fr;
          padding-top: 20px;
          padding-bottom: 20px; }
          .broadcast-dashboard .broadcast-main-container .broadcast-main .broadcast-section .broadcast-section-header > div {
            padding-right: 20px; }
            .broadcast-dashboard .broadcast-main-container .broadcast-main .broadcast-section .broadcast-section-header > div h3 {
              margin: 0; }
            .broadcast-dashboard .broadcast-main-container .broadcast-main .broadcast-section .broadcast-section-header > div span {
              display: inline-block;
              vertical-align: middle;
              line-height: normal; }
        .broadcast-dashboard .broadcast-main-container .broadcast-main .broadcast-section .broadcast-recap-section {
          display: flex; }
          .broadcast-dashboard .broadcast-main-container .broadcast-main .broadcast-section .broadcast-recap-section .broadcast-recap-section-item {
            display: grid;
            grid-template-rows: 1fr 1fr;
            text-align: center;
            padding: 10px;
            border: 1.5px solid #bbb;
            margin-right: 10px;
            /*margin-bottom: 20px;*/
            min-width: 120px; }
            .broadcast-dashboard .broadcast-main-container .broadcast-main .broadcast-section .broadcast-recap-section .broadcast-recap-section-item h4 {
              margin: 0; }
        .broadcast-dashboard .broadcast-main-container .broadcast-main .broadcast-section .broadcast-table .broadcast-table-row {
          cursor: pointer; }
          .broadcast-dashboard .broadcast-main-container .broadcast-main .broadcast-section .broadcast-table .broadcast-table-row:hover {
            background-color: #f6f6f6; }
        .broadcast-dashboard .broadcast-main-container .broadcast-main .broadcast-section .broadcast-table.broadcast-storage-table {
          font-size: 14px; }
          .broadcast-dashboard .broadcast-main-container .broadcast-main .broadcast-section .broadcast-table.broadcast-storage-table .broadcast-storage-table-header {
            border-bottom: 1.5px solid #bbb;
            text-align: start;
            padding-top: 5px;
            padding-bottom: 5px;
            font-weight: 700; }
          .broadcast-dashboard .broadcast-main-container .broadcast-main .broadcast-section .broadcast-table.broadcast-storage-table .broadcast-storage-header {
            padding: 3px 0; }
          .broadcast-dashboard .broadcast-main-container .broadcast-main .broadcast-section .broadcast-table.broadcast-storage-table .broadcast-storage-content {
            font-size: 12px;
            /*padding: 10px 0 15px 0;*/ }
            .broadcast-dashboard .broadcast-main-container .broadcast-main .broadcast-section .broadcast-table.broadcast-storage-table .broadcast-storage-content .broadcast-storage-row-single {
              padding-left: 10%; }
            .broadcast-dashboard .broadcast-main-container .broadcast-main .broadcast-section .broadcast-table.broadcast-storage-table .broadcast-storage-content .broadcast-storage-row {
              display: grid;
              grid-template-columns: .5fr 3fr; }
              .broadcast-dashboard .broadcast-main-container .broadcast-main .broadcast-section .broadcast-table.broadcast-storage-table .broadcast-storage-content .broadcast-storage-row .broadcast-storage-key {
                text-align: right;
                font-weight: 600; }
              .broadcast-dashboard .broadcast-main-container .broadcast-main .broadcast-section .broadcast-table.broadcast-storage-table .broadcast-storage-content .broadcast-storage-row .broadcast-storage-value {
                padding-left: 10px; }
        .broadcast-dashboard .broadcast-main-container .broadcast-main .broadcast-section table {
          width: 100%;
          border-collapse: collapse;
          font-size: 14px; }
          .broadcast-dashboard .broadcast-main-container .broadcast-main .broadcast-section table th {
            border-bottom: 1.5px solid #bbb;
            text-align: start;
            padding-top: 5px;
            padding-bottom: 5px; }
          .broadcast-dashboard .broadcast-main-container .broadcast-main .broadcast-section table tr {
            font-size: 14px;
            /*padding-bottom: 5px;*/ }
            .broadcast-dashboard .broadcast-main-container .broadcast-main .broadcast-section table tr td {
              padding-top: 2px;
              padding-bottom: 2px; }
            .broadcast-dashboard .broadcast-main-container .broadcast-main .broadcast-section table tr:first-child td {
              padding-top: 5px; }
        .broadcast-dashboard .broadcast-main-container .broadcast-main .broadcast-section .trash-button {
          color: #666;
          box-sizing: border-box;
          position: relative;
          display: block;
          transform: scale(var(--ggs, 1));
          /*width: 10px;*/
          /*height: 12px;*/
          width: 7px;
          height: 10px;
          border: 1px solid transparent;
          box-shadow: 0 0 0 2px, inset -2px 0 0, inset 2px 0 0;
          border-bottom-left-radius: 1px;
          border-bottom-right-radius: 1px;
          /*margin-top: 4px;
					margin-right: 4px;*/
          cursor: pointer; }
          .broadcast-dashboard .broadcast-main-container .broadcast-main .broadcast-section .trash-button:hover {
            color: blue;
            background-color: lightgray;
            /*&::before {
							background-color: orange;
						}
						
						&::after {
							background-color: orange;
						}*/ }
          .broadcast-dashboard .broadcast-main-container .broadcast-main .broadcast-section .trash-button::after, .broadcast-dashboard .broadcast-main-container .broadcast-main .broadcast-section .trash-button::before {
            content: "";
            display: block;
            box-sizing: border-box;
            position: absolute; }
          .broadcast-dashboard .broadcast-main-container .broadcast-main .broadcast-section .trash-button::after {
            background: currentColor;
            border-radius: 3px;
            /*width: 16px;*/
            width: 13px;
            height: 2px;
            top: -4px;
            left: -4px; }
          .broadcast-dashboard .broadcast-main-container .broadcast-main .broadcast-section .trash-button::before {
            /*width: 10px;*/
            width: 7px;
            height: 4px;
            border: 2px solid;
            border-bottom: transparent;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
            top: -7px;
            left: -1px; }
  .broadcast-dashboard .broadcast-toggler-section {
    display: flex;
    align-items: baseline; }
    .broadcast-dashboard .broadcast-toggler-section + .broadcast-toggle-wrapper {
      max-height: 0;
      transform: scaleY(0);
      transform-origin: top;
      transition: all 0.15s ease-in-out; }
    .broadcast-dashboard .broadcast-toggler-section.is-open + .broadcast-toggle-wrapper {
      max-height: 100%;
      transform: scaleY(1);
      /*border: .5px solid #337ab7; // orange;*/
      padding-left: 20px;
      padding-bottom: 10px;
      padding-top: 10px; }
      .broadcast-dashboard .broadcast-toggler-section.is-open + .broadcast-toggle-wrapper.broadcast-storage-content {
        padding: 10px 0 15px 0;
        border-bottom: 1px solid #bbb; }
    .broadcast-dashboard .broadcast-toggler-section.is-open.broadcast-storage-header {
      font-weight: 600; }
  .broadcast-dashboard .broadcast-data-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background-color: rgba(0,0,0,0.5);*/
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 2;
    /*cursor: pointer;*/
    min-height: 100vh; }
    .broadcast-dashboard .broadcast-data-overlay .broadcast-data-overlay-container {
      float: right;
      width: 70%;
      box-shadow: 0 0 10px 0 rgba(119, 111, 94, 0.5);
      height: 100%;
      display: inline-block;
      background-color: #fff;
      padding: 20px; }
      .broadcast-dashboard .broadcast-data-overlay .broadcast-data-overlay-container .broadcast-storage-type .broadcast-storage-type-header {
        display: grid;
        grid-template-columns: auto 1fr;
        padding-bottom: 10px; }
        .broadcast-dashboard .broadcast-data-overlay .broadcast-data-overlay-container .broadcast-storage-type .broadcast-storage-type-header .broadcast-overlay-title {
          padding-left: 50px; }
          .broadcast-dashboard .broadcast-data-overlay .broadcast-data-overlay-container .broadcast-storage-type .broadcast-storage-type-header .broadcast-overlay-title h3 {
            margin-top: 5px; }
        .broadcast-dashboard .broadcast-data-overlay .broadcast-data-overlay-container .broadcast-storage-type .broadcast-storage-type-header .broadcast-overlay-close-btn {
          /*position: absolute;
						left: 32px;
						top: 32px;*/
          width: 32px;
          height: 32px;
          opacity: 0.3;
          cursor: pointer; }
          .broadcast-dashboard .broadcast-data-overlay .broadcast-data-overlay-container .broadcast-storage-type .broadcast-storage-type-header .broadcast-overlay-close-btn:hover {
            opacity: 1; }
          .broadcast-dashboard .broadcast-data-overlay .broadcast-data-overlay-container .broadcast-storage-type .broadcast-storage-type-header .broadcast-overlay-close-btn:before, .broadcast-dashboard .broadcast-data-overlay .broadcast-data-overlay-container .broadcast-storage-type .broadcast-storage-type-header .broadcast-overlay-close-btn:after {
            position: absolute;
            margin-left: 16px;
            /*left: 15px;*/
            content: ' ';
            height: 33px;
            width: 2px;
            background-color: #333; }
          .broadcast-dashboard .broadcast-data-overlay .broadcast-data-overlay-container .broadcast-storage-type .broadcast-storage-type-header .broadcast-overlay-close-btn:before {
            transform: rotate(45deg); }
          .broadcast-dashboard .broadcast-data-overlay .broadcast-data-overlay-container .broadcast-storage-type .broadcast-storage-type-header .broadcast-overlay-close-btn:after {
            transform: rotate(-45deg); }
      .broadcast-dashboard .broadcast-data-overlay .broadcast-data-overlay-container .broadcast-storage-type .broadcast-storage-type-content .broadcast-storage-type-row-single {
        display: grid; }
      .broadcast-dashboard .broadcast-data-overlay .broadcast-data-overlay-container .broadcast-storage-type .broadcast-storage-type-content .broadcast-storage-type-row {
        display: grid;
        grid-template-columns: 1fr 3fr; }
        .broadcast-dashboard .broadcast-data-overlay .broadcast-data-overlay-container .broadcast-storage-type .broadcast-storage-type-content .broadcast-storage-type-row .broadcast-storage-type-key {
          text-align: right;
          font-weight: 600; }
        .broadcast-dashboard .broadcast-data-overlay .broadcast-data-overlay-container .broadcast-storage-type .broadcast-storage-type-content .broadcast-storage-type-row .broadcast-storage-type-value {
          padding-left: 10px; }
