@model Broadcast.AspNetCore.Test.Controllers.StorageModel

@{
	ViewData["Title"] = "Custom Dashboard";
}

@section styles{
	<link href="~/css/Storage.min.css" rel="stylesheet" type="text/css" />
}

<div class="broadcast-storage">
	<div>
		<h3>Storage</h3>
		<div>
			<div>
				@foreach (var item in Model.Items)
				{
					<div>
						<div class="broadcast-toggler-section broadcast-storage-header">
							<div class="broadcast-toggler-button">

							</div>
							<div>
								<span>@item.Key</span>
							</div>
						</div>
						<div class="broadcast-toggle-wrapper">
							<partial name="Partials/_StorageKey" for="@item" />
						</div>
					</div>
				}
			</div>
		</div>
		<div>
			<div id="broadcast-storage-content">

			</div>
		</div>
	</div>

</div>

@section scripts{
	<script>
		var storageConfig = {
			//TODO: /broadcast/ has to be able to be appended as configuration
			pollUrl: "/broadcast/storage",
			pollInterval: 2000
		};
	</script>

	<script type='module' src="/js/broadcast-storage.js">
		@*import { BroadcastStorage } from '/js/broadcast-storage.js'
		const storage = new BroadcastStorage();*@
	</script>
}