<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Broadcast</title>
	<!--TODO: /broadcast/ has to be able to be appended as configuration-->
	<link href="/broadcast/css/broadcast-dashboard" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="broadcast-dashboard">
		<div class="broadcast-main-container">
			<div class="broadcast-main-header broadcast-header">
				<span>Broadcast</span>
			</div>
			<div class="broadcast-main">
				<main role="main">
					<div class="">
						<div class="broadcast-section">
							<div class="broadcast-recap-section">
								<div class="broadcast-recap-section-item">
									<div>
										<h4>Servers</h4>
									</div>
									<div>
										<span id="broadcast-servers-count">
											-
										</span>
									</div>
								</div>
								<div class="broadcast-recap-section-item">
									<div>
										<h4>Recurring Tasks</h4>
									</div>
									<div>
										<span id="broadcast-recurring-count">
											-
										</span>
									</div>
								</div>
								<div class="broadcast-recap-section-item">
									<div>
										<h4>Tasks total</h4>
									</div>
									<div>
										<span id="broadcast-tasks-count">
											-
										</span>
									</div>
								</div>
								<div class="broadcast-recap-section-item">
									<div>
										<h4>Enqueued Tasks</h4>
									</div>
									<div>
										<span id="broadcast-enqueued-count">
											-
										</span>
									</div>
								</div>
								<div class="broadcast-recap-section-item">
									<div>
										<h4>Processed Tasks</h4>
									</div>
									<div>
										<span id="broadcast-processed-count">
											-
										</span>
									</div>
								</div>
								<div class="broadcast-recap-section-item">
									<div>
										<h4>Failed Tasks</h4>
									</div>
									<div>
										<span id="broadcast-failed-count">
											-
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="broadcast-section">
							<div class="broadcast-section-header">
								<div>
									<h3>Servers</h3>
								</div>
							</div>
							<table class="broadcast-table" id="serverlist">
								<thead>
									<tr>
										<th scope="col">Name</th>
										<th scope="col">Id</th>
										<th scope="col">Heartbeat</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
						<div class="broadcast-section">
							<div class="broadcast-section-header">
								<div>
									<h3>Recurring Tasks</h3>
								</div>
							</div>
							<table class="table broadcast-table" id="recurringlist">
								<thead>
									<tr>
										<th scope="col">Name</th>
										<th scope="col">Referenced TaskId</th>
										<th scope="col">NextExecution</th>
										<th scope="col">Interval</th>
										<th scope="col"></th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
						<div class="broadcast-section">
							<div class="broadcast-section-header">
								<div>
									<h3>Tasks</h3>
								</div>
							</div>
							<table class="table broadcast-table" id="tasklist">
								<thead>
									<tr>
										<th scope="col">Id</th>
										<th scope="col">Name</th>
										<th scope="col">State</th>
										<!--<th scope="col">IsRecurring</th>-->
										<th scope="col">Interval</th>
										<th scope="col">Server</th>
										<th scope="col">Started</th>
										<th scope="col">Duration</th>
										<!--<th scope="col">Enqueued</th>-->
										<!--<th scope="col">Fetched</th>-->
										<th scope="col">Queue</th>
										<th scope="col"></th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
					</div>
				</main>
			</div>
		</div>

		<div id="broadcast-data-overlay" class="broadcast-data-overlay">
			<div class="broadcast-data-overlay-container">
				<div class="broadcast-storage-type">
					<div class="broadcast-storage-type-header">
						<div id="broadcast-overlay-close-btn" class="broadcast-overlay-close-btn"></div>
						<div class="broadcast-overlay-title">
							<h3><span id="broadcast-data-title">Title</span> : <span id="broadcast-data-key">Key</span></h3>
						</div>
					</div>
					<div class="broadcast-storage-type-content" id="broadcast-data-table">

					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		var dashboardConfig = {
			//TODO: /broadcast/ has to be able to be appended as configuration
			pollUrl: "/broadcast/dashboard/metrics",
			//TODO: /broadcast/ has to be able to be appended as configuration
			dashboardUrl: "/broadcast/dashboard",
			pollInterval: 2000
		}
	</script>
	<!--TODO: /broadcast/ has to be able to be appended as configuration-->
	<script src="/broadcast/js/broadcast-dashboard" type="module"></script>

</body>
</html>