@model Broadcast.AspNetCore.Test.Controllers.StorageType

@{
	ViewData["Title"] = "Custom Dashboard";
}


@foreach (var item in Model.Items)
{
	<div>
		<div class="broadcast-storage-type">
			<div class="broadcast-toggler-section broadcast-storage-type-header">
				<div class="broadcast-toggler-button"></div>
				<span>@item.Key</span>
			</div>
			<div class="broadcast-toggle-wrapper broadcast-storage-type-content">
				@foreach (var property in item.Values)
				{
					@if (string.IsNullOrEmpty(property.Key))
					{
						<div class="broadcast-storage-type-row-single">
							<div class="broadcast-storage-type-value">@property.Value</div>
						</div>
					}
					else
					{
						<div class="broadcast-storage-type-row">
							<div class="broadcast-storage-type-key">@property.Key</div>
							<div class="broadcast-storage-type-value">@property.Value</div>
						</div>
					}
				}
			</div>
		</div>
	</div>
}